<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hci.dao.CounselorBookMapper">
    <select id="getCounselorBookList" resultType="com.example.hci.dao.dto.CounselorBook">
        select *, counselor.location location, counselor.profile profile
        from counselor_book, counselor
        where counselorId in
        <foreach collection="counselorId" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
        and substring(startTime,1,10) = substring(#{date},1,10) and #{date} &lt;= startTime and isAvailable = 0 and counselor_book.name like '%${form}'
        and counselor_book.counselorId = counselor.id;
    </select>

    <select id="getCounselorBookDate" resultType="com.example.hci.dao.dto.CounselorBook">
        SELECT *
        FROM counselor_book
        WHERE counselorId in
        <foreach collection="counselorId" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
        and startTime >= NOW() and startTime &lt;= ADDDATE(CURDATE(), 14) AND name like '%${type}' and isAvailable = 0
    </select>
</mapper>
